<h2 class="fee">Click bottom button to give a feedback</h2>
<button class="feed"><a href="Mail to bakharh5@gmail.com">feedback</a></button>
<h1 class="top">Our top feedbacks...</h1>
<div class="table">
    <div class="innertable">
        <img class="f" src="../../../assets/image/f.png">
        <img class="star" src="../../../assets/image/star.png">
    <h1 class="heading">Amitabh Bachchan</h1>
    <p class="sree">“When it comes to coffee and its ingredient, caffeine, the results are very clear in relation to athletes: caffeine can contribute to improved performance. I prefer Strong Coffee, it is a sugar-free instant latte that includes collagen protein, which may benefit joint health and speed injury recovery and help boost...</p>
</div>
</div>

<div class="table1">
    <div class="innertable1">
        <img class="s" src="../../../assets/image/s.png">
        <img class="star1" src="../../../assets/image/star.png">
    <h1 class="heading">Sachin Tendulkar</h1>
    <p class="sree2">Many people depend on their daily cup of joe right when they wake up to get their day started on the right foot. Coffee helps to fine-tune my focus and boost my energy levels. I consider myself as a regular coffee consumer. It helps to improve physical performance and endurance when consumed before exercising.</p>
</div>
</div>

<div class="table2">
    <div class="innertable2">
        <img class="v" src="../../../assets/image/v.png">
        <img class="star1" src="../../../assets/image/star.png">
    <h1 class="heading">Virat Kohli</h1>
    <p class="sree3">Once we wake up and smell the coffee, its hard to go back to sleep....

        Briefly I would like to say that coffee reduces the stress caused by sleep deprivation. Inhaling the aroma of coffee during the bad times can make us feel better and relaxed.</p>
</div>
</div>
