input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  

  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
      color:white;
    }
    .cancelbtn {
      width: 100%;
    }

  }
  .car {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin-left: 550px;
    margin-top: 150px;
    color:rgb(245, 7, 7);
  }
  .bus {
    padding: 2px 16px;
    background: rgb(248, 243, 243);
    border-radius: 20px;
  }
  