<form>
    <div class="uf">
    <div class="cartwo">
      <div class="bustwo">
      <h2 style="color:rgb(243, 2, 2)">Please fill the Data</h2>
      <div class="container">
        <label for="uname"><b>Name of the candidate</b></label>
        <input type="text" placeholder="Name of the Candidate" name="uname" required>
        <label for="uname"><b>Enter your E-mail address</b></label>
        <input type="text" placeholder="Enter your e-mail address" name="uname" required>
        <label for="uname"><b>Enter your Contact Number</b></label>
        <input type="text" placeholder="Enter contact number" name="uname" required>
        <label for="uname"><b>Permanent Address</b></label>
        <input type="text" placeholder="please enter address" name="uname" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <label for="psw"><b>Confirm-Password</b></label>
        <input type="password" placeholder="Confirm-Password" name="psw" required>
        <button type="submit">Login</button>
        </div>
      </div>
      </div>
    </div>
    </form>
